In [2]:
#Description:
#   Initial and simple analysis of FBI Crime Data prior to 7/11 class
#   victim-data-controller : Endpoints pertaining to NIBRS Victim Demographic data (STATE)
#
#Modification History:
#   DD-MMM-YYY  Author          Description
#   10-07-2019  Stacey Smith    INITIAL CREATION

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import csv

from pprint import pprint

# Import DATA.GOV API key
from api_keys import ses_dg_key

# Output File (CSV)
output_data_file = "output_data/fbi_crime_data_state.csv"

#States .csv file
path = "Resources/states.csv"
states_df = pd.read_csv(path, encoding='ISO-8859-1', header=None)
states_df.head()

            0   1
0     ALABAMA  AL
1      ALASKA  AK
2     ARIZONA  AZ
3    ARKANSAS  AR
4  CALIFORNIA  CA

In [ ]:
state_qry = https://api.usa.gov/crime/fbi/sapi/api/states?api_key=7OD5p7jAF2ktkNdz232bezpnha90B0d6He5RebsV
state_results = requests.get(state_qry).json
state_data = pd.DataFrame(state_results)

In [ ]:
states = (states_df.iloc[:, 1]).astype(str)
age_queries = []

for i in states:
    age_query_url = "https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/homicide/victim/states/" + i + "/age?api_key=" + dg_key
    age_queries.append(age_query_url)
    #age_response_state = requests.get(age_query_url).json
    
age_queries

In [5]:

age_results = []
    
for i in age_queries:
    age_response = requests.get(i).json()
    age_results.append([{i : age_response}])
    
age_results



age_data = pd.DataFrame(age_results)
#age_data.sort_values(by='data_year', ascending=False)

age_data.head()

                                                   0
0  {'https://api.usa.gov/crime/fbi/sapi/api/data/...
1  {'https://api.usa.gov/crime/fbi/sapi/api/data/...
2  {'https://api.usa.gov/crime/fbi/sapi/api/data/...
3  {'https://api.usa.gov/crime/fbi/sapi/api/data/...
4  {'https://api.usa.gov/crime/fbi/sapi/api/data/...